{% extends "main/base.html" %}
{% load static %}
<!-- ページのタイトル -->
{% block pagetitle %}
{% endblock %}

<!-- css -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "main/css/post_detail.css" %}">
{% endblock %}

<!-- js -->
{% block js %}
{% endblock%}

{% block main %}
<main>
  <div class="article">
    <div class="main_sentance f09">
      <h1>About maro</h1>
      <p>ポートフォリオをご覧いただきありがとうございます。</p>
      <h2>Coding Skills</h2>
      <br>
      <p>Python：DjangoでWebアプリ作成、bs4でスクレイピングなど</p>
      <p>GAS：G Suiteの簡単な処理、Chatwork API</p>
      <p>HTML＆CSS：当ポートフォリオ程度のWebデザイン</p>
      <p>Javascript：当ポートフォリオ程度のjQuery</p>
      <p>git＆GitHub：トラブルを起こさない程度</p>
      <p>paiza：Sランク(python3)</p>
      <h2>Other Skills</h2>
      <br>
      <p>TOEIC：810</p>
      <p>日商簿記：3級</p>
      <h2>Links</h2>
      <br>
      <p>WordPressで運営しているブログ：<a href="http://maro28.com/">まろぶろぐ</a></p>
      <p>詳細なプロフィール：<a href="http://maro28.com/profile">まろのプロフィール</a></p>
      <p>Twitter：<a href="https://twitter.com/maroblog28">@maroblog28</a></p>
      <p>GitHub：<a href="https://github.com/maro-28">maro-28</a></p>
    </div>
  </div>
</main>
{% endblock %}
