{% extends "main/base.html" %}
{% load static %}

<!-- ページのタイトル -->
{% block pagetitle %}
{% endblock %}

<!-- css -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "main/css/post_detail.css" %}">
{% endblock %}

<!-- js -->
{% block js %}
{% endblock%}

{% block main %}
<main>
  <div class="article">
    <div class="main_sentance f09">
      <h1>About this site</h1>
      <h2>Djangoで作成したブログ風ポートフォリオ</h2>
      <br>
      <p>▼▽コードはこちら▽▼</p>
      <p>
        <a href="https://github.com/maro-28/Portfolio">https://github.com/maro-28/Portfolio</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
