{% extends "main/base.html" %}
{% load static %}
<!-- ページのタイトル -->
{% block pagetitle %}
{% endblock %}

<!-- css -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "main/css/post_detail.css" %}">
{% endblock %}

<!-- js -->
{% block js %}
{% endblock%}

{% block main %}
<main>
  <div class="article">
    <div class="main_sentance f09">
      <h1>About maro</h1>
      <p>ポートフォリオをご覧いただきありがとうございます。</p>
      <h2>Skill</h2>
      <p>Python：DjangoでWebアプリ作成、bs4でスクレイピングなど</p>
      <p>GAS：G Suiteの簡単な処理、Chatwork API</p>
      <p>HTML＆CSS：当ポートフォリオ程度のWebデザイン</p>
      <p>Javascript：当ポートフォリオ程度のjQuery</p>
      <p>git＆GitHub：トラブルを起こさない程度</p>
    </div>
  </div>
</main>
{% endblock %}
