@import "ress.css";

/* フォントの設定と背景の色 */
body {
	font-family: sans-serif;
}

/* リンクの設定 */
a {
  text-decoration: none;
  color: blue;
}
a:hover{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* 色の設定 */
.blue{
  color: #3964a8;
}
.white{
    color: #ffffff;
}
.black{
    color: #313534;
}
/*背景色の設定*/
.Bwhite{
    background: #ffffff;
}
.Bblue{
    background: #3964a8;
}
.Bred{
    background: #a83964;
}
.Bpurple{
    background: #b0acde;
}
/*フォントの大きさ*/
.f08{
    font-size: 0.8rem;
}
.f09{
    font-size: 0.9rem;
}
.f1{
    font-size: 1rem;
}
.f12{
    font-size: 1.2rem;
}
.bold{
    font-weight: bold;
}

/*文字の並び*/
.right{
    text-align: right;
}
.center{
    text-align: center;
}

/*パソコン・スマホ共通のCSS*/
#PageTopBtn {
    position: fixed; /*ボタンの配置場所を固定*/
    bottom: 1.5rem; /*下からのボタンの配置場所を指定*/
    right: 1rem; /*右からのボタンの配置場所を指定*/
}
#PageTopBtn a {
    display: block; /*配置の調整*/
    text-decoration: none; /*文字の下線を消す*/
    color: #a83964;/*文字の色*/
    background: #fff; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    border: solid 2px #a83964;
    border-radius: 50%; /*ボタンの角を少し丸くする*/
    outline: none; /*クリックしたときの黒い枠を消す*/
}
#PageTopBtn a:hover {
    text-decoration: none;
}

/*パソコンで表示する場合のCSS*/
@media (min-width: 768px) {
#PageTopBtn {
    font-size: 1.25rem; /*文字のサイズ*/
}
#PageTopBtn a {
    width: 2.5rem; /*ボタンの幅*/
    height: 2.5rem; /*ボタンの高さ*/
    padding: 0.5rem 0 0 0; /*文字の配置場所の調整*/
}
}

/*スマホで表示する場合のCSS*/
@media (max-width: 767px) {
#PageTopBtn a {
    width: 2rem;
    height: 2rem;
    padding: 0.4rem 0;
}
}

li{
	list-style: none;
}
