header{
  width: auto;
  height: 20rem;
  background-image: url("header_blue_large.jpg");
  background-position: 0 50%;
  background-size: cover;/*画像全体を表示*/
}
.main-title{
  padding-top: 6rem;
}

 /*管理人とこのブログについて */
.header_right li{
  float: right;
  margin: 0 1rem;
  padding-top: 1rem;
}
