@import "base.css";
@import "nav.css";
@import "footer.css";
header{
  width: auto;
  height: 45rem;
  background-image: url("header_blue_large.jpg");
  background-position: 0 50%;
  background-size: cover;
}

.main-title{
  padding-top: 20rem;
  font-weight: normal;
}

/* 管理人とこのブログについて */
.header_right li{
  float: right;
  margin: 0 1rem;
  padding-top: 1rem;
}

h1{
  padding: 0.5rem 0;
}
h2{
  padding: 0.5rem 0;
}

.tag li{
  float: left;
  padding: 0.25rem 0.25rem 0 0;
}
.tag a{
  position: relative;
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
  text-shadow: 0 0 0.5rem white;
  border-left: solid 3px #3964a8;
  border-right: solid 3px #3964a8;
  border-radius: 1rem;
}

/* Contacts */
.contacts li{
  display: inline;
  padding: 0 4rem;
}

/*流れ星*/
@keyframes particleAnimation1
{
    from {
        left: -50px;
        top: -50px;
    }
    to {
        left: 400px;
        top: 400px;
    }
}
@keyframes particleAnimation2
{
    from {
        left: 100px;
        top: -130px;
    }
    to {
        left: 879px;
        top: 320px;
    }
}
@keyframes particleAnimation3
{
    from {
        left: 100%;
        top: -100px;
    }
    to {
        left: calc(100% - 450px);
        top: 350px;
    }
}

.star{
  position:relative;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.star::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  top:0px;
  height:1px;
}

.star-1::before{
 right:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.star-2::before{
 right:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.star-3::before{
 left:1px;
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}

.star-1{
  animation-name:particleAnimation1;
  animation-duration:9s;
  transform: rotate(45deg);
}
.star-2{
  animation-name:particleAnimation2;
  transform: rotate(30deg);
  animation-duration:7s;
  top:10%;
}
.star-3{
  animation-name:particleAnimation3;
  transform: rotate(-45deg);
  animation-duration:11s;
  top:20%;
}

/* read moreボタン */
.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  margin: 0.5rem;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #B4AEDE 0%, #7C94D4 100%);
  transition: .4s;
}
.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #B4AEDE 0%, #7C94D4 100%);
}
